body {
	background-color:#002080;
	background-image: -moz-linear-gradient(top, #002080 85%, #0e73d4 100%);
	margin: 0 auto;
	width: 1024px;
	height: 100%;	
	font-family: century gothic;
	font-size: 100%;	
}

/*---HEADER---*/
.header {
	height: 100%;
	top: 0px;
	left: 0px;
	margin: auto;
	margin-bottom: 20px;
}

.main{
	width: 100%;
	height: 100%;
}



/*---LANDMARK---*/
.landmark, .page {
	float: left;
	padding-top: 20px;
}
.landmark {
	width: 25%;
	height: 100%;
	
}

.land {
	width: 184px;
	height: 30px;
	padding-top:10px;
}

.redland {
	padding-left: 10px;
}

.redland a:link, .redland a:visited {
	font-size:110%;
	color: white;
	background-color: #F50733;
	margin-top: 4px;
	padding-top:10px;
	border: solid 2px white;
	text-align: center;
	display: block;
	
}
.redland a:hover {
	background-color: #F5585B;
}


.blueland {
	padding-top: 95px;
	padding-left:10px;
}

.blueland a:link, .blueland a:visited {
	font-size:110%;
	margin-top:4px;
	color: white;
	border: solid 2px white;
	text-align: center;
	background-color: #3366FF;
	display: block;
}

.blueland a:hover {
	background-color: #669EFF;
}

.notallowed a:hover {
	cursor:not-allowed;
}


/*---FOOTER---*/
.footer{
	color:white;
}

#footerTitle{
	text-align:center;
}

#footer1, #footer2, #social{
	float: left;
}

#footer1{
	padding-left:20px;
}

#footer2 {
	padding-left: 90px;
}

#social {
	padding-top:25px;
	padding-left:300px;
}




/*---PAGE GENERIC---*/
.page {	
	width: 75%;
	margin: 0 auto;
	height: 100%;
}

.page {
	margin-bottom: 150px;
	margin-top:10px;
}




/*---HOME---*/

.home {
	color:white;

}
#videoHome {
	width:700px;
	height:200px;
}

/*Slider per immagini, per le impostazioni si rimanda all'altro foglio di stile*/
#slider {
	margin-top:20px;
	width: 696px;
	height:293px;
	background-color: #5faacf;
	border: dotted 2px white;
}



#promoHome, #timV {
	float: left;
	margin-top:20px;
	width: 336px;
	height: 276px;
	border: dotted 2px white;
	background-color: #FF6854;
}
#timV {
	margin-left: 20px;
}

#newsH {
	margin-top: 300px;
	width: 696px;
	height: 88px;
	background-color: #5faacf;
	border: dotted 2px white;
}

#newsHome {
	padding-top:7px;
}

#assis, #rich {
	margin-top:10px;
	border: dotted 2px white;
	width: 336px;
	height: 168px;
	float: left;
}

#rich {
	margin-left:20px;
}



/*---DISPOSITIVI---*/

.dispositivi div{
	background-color:#75A3FF;
}


























