body {
	background-color: #002080;
	font-family: century gothic;
	font-size: 100%;	
}

/*---EFFECTIVE BODY PAGE---*/
.realbody {
	margin: 0 auto;
	width: 1024px;
	height: 100%;
}

/*header*/
.header {
	background-color:red;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: auto;
}

.main{
	width: 100%;
	height: 100%;
}
.landmark, .page {
	float: left;
	padding-top: 40px;
}
.landmark {
	width: 25%;
	height: 100%;
	
}

.page {	
	width: 75%;
	margin: 0 auto;
	height: 100%;
}

/*---LANDMARK---*/
.redland {
	padding-left: 10px;
}
.land {
	padding-top:10px;
	width: 184px;
	height: 30px;
}

.redland a:link, .redland a:visited {
	font-size:110%;
	color: white;
	background-color: #F50733;
	margin-top: 4px;
	padding-top:10px;
	border: solid 2px white;
	text-align: center;
	display: block;
	
}
.redland a:hover {
	background-color: #F5585B;
}


.blueland {
	padding-top: 95px;
	padding-left:10px;
}

.blueland a:link, .blueland a:visited {
	font-size:110%;
	margin-top:4px;
	color: white;
	border: solid 2px white;
	text-align: center;
	background-color: #3366FF;
	display: block;
}

.blueland a:hover {
	background-color: #669EFF;
}



/*---FOOTER---*/
.footer{
	color:white;
}

#footerTitle{
	text-align:center;
}

.footer1, .footer2, .social{
	float: left;
}

.footer1{
	padding-left:20px;
}

.footer2 {
	padding-left: 90px;
}

.social {
	padding-top:25px;
	padding-left:320px;
}

#quadroPerInfo{
    margin-right: 200px;
}



/*---HOME---*/

.home {
	color:white;
	padding-top:7px;
	padding-bottom: 50px;
}
#videoHome {
	width:700px;
	height:200px;
}
#home1 {
	margin-top:20px;
	width: 696px;
	height:293px;
	background-color: #5faacf;
	border: dotted 2px white;
	position: relative;
}
#smartphoneAllHome{
	position: absolute;
}


