body {
	background-color: #002080;
	font-family: century gothic;
	font-size: 100%;	
}

.realbody {
	width: 1024px;
	height: 100%;
}
.header {
	background-color:red;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: auto;
}

.landmark {
	background-color: red;
	width: 250px;
	
}

.main {
	width: 774px;
	background-color: red;
	margin: auto;
}
